<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253116827421-fr2siou8f6rr0ov9c2rgme3pelgcp0uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253116827421-fr2siou8f6rr0ov9c2rgme3pelgcp0uu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>253116827421-93abs9eqkcrm990ksh5rdb2cfstmdm3e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBuRLgFQL9dTSPwQp4Qid7LjfFwtQ8EC4</string>
	<key>GCM_SENDER_ID</key>
	<string>253116827421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shylendherreddy.pawsomeWorld</string>
	<key>PROJECT_ID</key>
	<string>pawsome-world</string>
	<key>STORAGE_BUCKET</key>
	<string>pawsome-world.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253116827421:ios:91648f81e84214444ac3f4</string>
	<key>DATABASE_URL</key>
	<string>https://pawsome-world.firebaseio.com</string>
</dict>
</plist>